@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .btn_red {
    @apply bg-btnColor px-8 py-3 text-white hover:bg-primaryGreen
  }

  .btn_white {
    @apply bg-white px-8 py-3 text-gray-900 border-gray-600 border-2
  }

  .section {
    @apply flex
  }

  .boxWidth {
    @apply xl:max-w-[1600px] w-full
  }

  .flexCenter {
    @apply flex justify-center items-center
  }

  .flexStart {
    @apply flex justify-center items-start
  }

  .paddingX {
    @apply sm:px-16 px-6
  }

  .paddingY {
    @apply sm:py-16 py-6
  }

  .padding {
    @apply sm:px-16 px-6 sm:py-12 py-4
  }

  .marginX {
    @apply sm:mx-16 mx-6
  }

  .marginY {
    @apply sm:my-16 my-6
  }

  .sectionflex {
    @apply md:flex-row flex-col
  }

  .sectionImg {
    @apply flex-1 flex flexCenter md: ml-10 ml-0 md:mt-0 mt-10 relative
  }


  .hero-image-container {
    @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
  }

  .hero-image {
    @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
  }

  .hero-image-overlay {
    @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
  }
}